### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
src/escola/principal/EscolaApp.java
src/escola/EscolaTest01.java
src/escola/interfaceSwingUI/images/cadastro.png
src/escola/interfaceSwingUI/images/cadastro.png
src/escola/interfaceSwingUI/UI/images/pedagogo.png
*.java
src/escola/interfaceSwingUI/CadastroAlunoUI.java
src/escola/interfaceSwingUI/CadastroAlunoUI.java
src/escola/interfaceSwingUI/CadastroDiretorUI.form
src/escola/interfaceSwingUI/CadatroBibliotecarioUI.form
src/escola/interfaceSwingUI/images/aluna.png
src/escola/interfaceSwingUI/images/cadastro.png
src/escola/interfaceSwingUI/images/carteira-de-identidade.png
src/escola/interfaceSwingUI/images/graduado.png
src/escola/interfaceSwingUI/images/pilha-de-livros.png
src/escola/interfaceSwingUI/images/professor.png
src/escola/interfaceSwingUI/images/quadro-negro.png
src/escola/interfaceSwingUI/UI/AlunoUI.form
src/escola/interfaceSwingUI/UI/AlunoUI.java
src/escola/interfaceSwingUI/UI/cadastro/outros/CadastroTurmaUI.java
src/escola/interfaceSwingUI/UI/cadastro/pessoas/CadastroAlunoUI.form
src/escola/interfaceSwingUI/UI/cadastro/pessoas/CadastroAlunoUI.java
src/escola/interfaceSwingUI/UI/cadastro/pessoas/CadastroDiretorUI.java
src/escola/interfaceSwingUI/UI/cadastro/pessoas/CadastroFaxineiroUI.form
src/escola/interfaceSwingUI/UI/cadastro/pessoas/CadastroFaxineiroUI.java
src/escola/interfaceSwingUI/UI/cadastro/pessoas/CadastroFuncionariosUI.form
src/escola/interfaceSwingUI/UI/cadastro/pessoas/CadastroFuncionariosUI.java
src/escola/interfaceSwingUI/UI/cadastro/pessoas/CadastroMerendeiroUI.form
src/escola/interfaceSwingUI/UI/cadastro/pessoas/CadastroMerendeiroUI.java
src/escola/interfaceSwingUI/UI/cadastro/pessoas/CadastroPedagogoUI.form
src/escola/interfaceSwingUI/UI/cadastro/pessoas/CadastroPedagogoUI.java
src/escola/interfaceSwingUI/UI/cadastro/pessoas/CadastroPorteiroUI.form
src/escola/interfaceSwingUI/UI/cadastro/pessoas/CadastroPorteiroUI.java
src/escola/interfaceSwingUI/UI/cadastro/pessoas/CadastroProfessorUI.form
src/escola/interfaceSwingUI/UI/cadastro/pessoas/CadastroProfessorUI.java
src/escola/interfaceSwingUI/UI/cadastro/pessoas/CadastroSecretarioUI.form
src/escola/interfaceSwingUI/UI/cadastro/pessoas/CadastroSecretarioUI.java
src/escola/interfaceSwingUI/UI/cadastro/pessoas/CadatroBibliotecarioUI.java
src/escola/interfaceSwingUI/UI/CadastroUI.form
src/escola/interfaceSwingUI/UI/CadastroUI.java
src/escola/interfaceSwingUI/UI/EscolaPrincipalUI.form
src/escola/interfaceSwingUI/UI/EscolaPrincipalUI.java
src/escola/interfaceSwingUI/UI/EscolaUI.form
src/escola/interfaceSwingUI/UI/EscolaUI.java
src/escola/interfaceSwingUI/UI/images/bibliotecario.png
src/escola/interfaceSwingUI/UI/images/diretor-de-filme.png
src/escola/interfaceSwingUI/UI/images/empregada.png
src/escola/interfaceSwingUI/UI/images/faxineira.png
src/escola/interfaceSwingUI/UI/images/merendeira.png
src/escola/interfaceSwingUI/UI/images/pedagogo.png
src/escola/interfaceSwingUI/UI/images/porteiro.png
src/escola/interfaceSwingUI/UI/images/secretario.png
src/escola/interfaceSwingUI/UI/ProfessorUI.form
src/escola/interfaceSwingUI/UI/ProfessorUI.java
